/* Felewin baseline CSS */




/* IMPORTS */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');




/* COLORS */


/* color names */
:root {
    --color-Felewin: #5CB85C;
    --color-Felewin-saturated: #34af34;
    --color-Felewin-bright: #80ff80;
    --color-Felewin-lush: #b6ff43;
    --color-Felewin-lush-dark: #86bd32;
    --color-link-Felewin-lush: var(--color-Felewin-lush);
    --color-link-Felewin-lush-hovered: var(--color-Felewin-lush-dark);
    --color-Felewin-dark: #233f28;
    --color-Felewin-darker: #243227;
    --color-Felewin-transparent: rgba(188, 255, 128, 0.1);
    --color-Felewin-periwinkle: #4766c8;
    --color-Felewin-blue-dark: #232d3f;
    --color-Felewin-blue-darker: #242932;
    --color-Felewin-blue-darkest: #1c1d22;
    --color-Felewin-blue-darkest-transparent: rgba(28, 29, 34, 0.93);
    --color-light: white;
    --color-dark: #232325;
    --color-selection: #b0f3e6;
    --color-sharp-button: #ef79fd;
    --color-link: var(--color-Felewin);
    --color-link-hovered: #428bca;
    --color-link-Felewin: var(--color-Felewin);
    --color-link-Felewin-hovered: #179c17;
    --color-One-Giant-Leap-light: #fb922b;
    --color-One-Giant-Leap-dark: #00080f;
    --color-One-Giant-Leap-dark-transparent: rgba(0, 8, 15, 0.93);
    --color-link-One-Giant-Leap: var(--color-One-Giant-Leap-light);
    --color-link-One-Giant-Leap-hovered: #c37121;
    --color-Moon-Motion: #0073ad; /* (the average color of the Moon Motion Cover image) */
    --color-Moon-Motion-transparent: rgba(0, 115, 173, 0.93);
    --color-Moon-Motion-cover-dark-transparent: rgba(2, 20, 32, 0.93);
    --color-Moon-Motion-icon-light: #53bdd3;
    --color-Moon-Motion-icon-dark: #1996cd;
    --color-Moon-Motion-button-glow: rgba(0, 69, 253, .4);
    --color-link-Moon-Motion: var(--color-Moon-Motion-icon-light);
    --color-link-Moon-Motion-hovered: var(--color-Moon-Motion-icon-dark);
    --color-Lunity: #c95eff; /* (a color from Iridescence) */
    --color-Lunity-icon-light: #e471f2;
    --color-Lunity-icon-dark: #920bf0;
    --color-link-Lunity: var(--color-Lunity-icon-light);
    --color-link-Lunity-hovered: var(--color-Lunity-icon-dark);
    --color-link-Patreon: var(--color-Patreon);
    --color-link-Patreon-hovered: #ce4e3d;
    --color-Felewin-s-Gallery-dark-transparent: rgba(0, 15, 6, 0.93);
    --color-indigo-purple: #23037e;
    /* Kaarii */
    --color-Kaarii: #a9007d;
    --color-Kaarii-saturated: #f304b5;
    --color-link-Kaarii: var(--color-Kaarii);
    --color-link-Kaarii-hovered: var(--color-Kaarii-saturated);
    --color-Ravens-Nest-highlight: var(--color-Felewin-lush)/*Wix: #d2fd62*/;
    --color-Ravens-Nest: #99da61;
    --color-Ravens-Nest-dark: #331c0f;
    --color-link-Ravens-Nest: var(--color-Ravens-Nest);
    --color-link-Ravens-Nest-hovered: #70aa3d;
    --color-link-Ravens-Nest-active: var(--color-Ravens-Nest-highlight);
    /* other brands */
    --color-Itch: #fa5c5c;
    --color-link-Itch: var(--color-Itch);
    --color-link-Itch-hovered: #c84a4a;
    --color-Vive: #25a1c3;
    --color-Vive-logo: #00b5e1;
    --color-Steam: #171a21;
    --color-Steam-transparent: rgba(23, 26, 33, 0.93);
    --color-Steam-lightened: #2b303d;
    --color-Steam-lightened-transparent: rgba(43, 48, 61, 0.93);
    --color-Steam-text: #b8b6b4;
    --color-link-Steam: #94df2c;
    --color-link-Steam-hovered: #70aa21;
    --color-Steam-embed: #282e39;
    --color-Discord: #7289DA;
    --color-Git-Hub: #a54df8;
    --color-link-Git-Hub: var(--color-Git-Hub);
    --color-link-Git-Hub-hovered: #843ec7;
    --color-Twitter: #1DA1F2;
    --color-link-Twitter: var(--color-Twitter);
    --color-link-Twitter-hovered: #1782c4;
    --color-Paypal: #3B7BBF;
    --color-link-Paypal: var(--color-Paypal);
    --color-link-Paypal-hovered: #3469a1;
    --color-Linkedin: #0077B5;
    --color-link-Linkedin: var(--color-Linkedin);
    --color-link-Linkedin-hovered: #005e8f;
    --color-Deviantart: #05cc47;
    --color-link-Deviantart: var(--color-Deviantart);
    --color-link-Deviantart-hovered: #049b36;
    --color-Youtube: #ff0000;
    --color-link-Youtube: var(--color-Youtube);
    --color-link-Youtube-hovered: #cd0000;
    --color-Gfycat: #3073ff;
    --color-Gfycat-embed: #3aa8ff;
    --color-Patreon: #f96854;
    --color-Spotify: #1ed760;
    --color-Spotify-darker: #1DB954;
    --color-link-Spotify: var(--color-Spotify);
    --color-link-Spotify-hovered: var(--color-Spotify-darker);
}
/* background colors */
.background-black {
	background-color: black;
	color: white;
}
.background-white {
	background-color: white;
	color: black;
}
.background-light {
	background-color: var(--color-light);
	color: black;
}
.background-dark {
	background-color: var(--color-dark);
	color: white;
}
.background-Felewin-dark {
	background-color: var(--color-Felewin-dark);
	color: white;
}
.background-Felewin-darker {
	background-color: var(--color-Felewin-darker);
	color: white;
}
.background-Felewin-transparent {
	background-color: var(--color-Felewin-transparent);
	color: white;
}
.background-Felewin-blue-dark {
	background-color: var(--color-Felewin-blue-dark);
	color: white;
}
.background-Felewin-blue-darker {
	background-color: var(--color-Felewin-blue-darker);
	color: white;
}
.background-Felewin-blue-darkest {
	background-color: var(--color-Felewin-blue-darkest);
	color: white;
}
.background-Ravens-Nest {
	background-color: var(--color-Ravens-Nest);
	color: white;
}
.background-Ravens-Nest-dark {
	background-color: var(--color-Ravens-Nest-dark);
	color: white;
}
.background-Moon-Motion {
	background-color: var(--color-Moon-Motion);
	color: white;
}
.background-Steam-lightened {
	background-color: var(--color-Steam-lightened);
	color: white;
}
.background-Steam-embed {
	background-color: var(--color-Steam-embed);
	color: white;
}
.background-Vive {
	background-color: var(--color-Vive);
	color: white;
}
.background-Vive-logo {
	background-color: var(--color-Vive-logo);
	color: white;
}
/* background gradients */
.background-Felewin-dark-to-Felewin-bright {
	background-image: linear-gradient(to right, var(--color-Felewin-dark), var(--color-Felewin-bright));
	color: white;
}
.background-Felewin-lush-to-Felewin-bright {
	background-image: linear-gradient(to right, var(--color-Felewin-lush), var(--color-Felewin-bright));
	color: white;
}
.background-Felewin-to-Felewin-lush {
	background-image: linear-gradient(to right, var(--color-Felewin), var(--color-Felewin-lush));
	color: white;
}
.background-Felewin-bright-to-Felewin-lush {
	background-image: linear-gradient(to right, var(--color-Felewin-bright), var(--color-Felewin-lush));
	color: white;
}
background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('landingpagepic.jpg');
.background-black-to-Steam-lightened {
	background-image: linear-gradient(to right, black, var(--color-Steam-lightened));
	color: white;
}
.background-Steam-lightened-to-Moon-Motion {
	background-image: linear-gradient(to right, var(--color-Steam-lightened), var(--color-Moon-Motion));
	color: white;
}
.background-Steam-lightened-to-Felewin-blue-dark {
	background-image: linear-gradient(to right, var(--color-Steam-lightened), var(--color-Felewin-blue-dark));
	color: white;
}
.background-Felewin-blue-dark-to-Moon-Motion {
	background-image: linear-gradient(to right, var(--color-Felewin-blue-dark), var(--color-Moon-Motion));
	color: white;
}
.background-Felewin-dark-to-Felewin-blue-dark {
	background-image: linear-gradient(to right, var(--color-Felewin-dark), var(--color-Felewin-blue-dark));
	color: white;
}
.background-Felewin-blue-dark-to-Felewin-dark {
	background-image: linear-gradient(to right, var(--color-Felewin-blue-dark), var(--color-Felewin-dark));
	color: white;
}
.background-Felewin-dark-to-Felewin-blue-darkest {
	background-image: linear-gradient(to right, var(--color-Felewin-dark), var(--color-Felewin-blue-darkest));
	color: white;
}
.background-Felewin-blue-darkest-to-Felewin-dark {
	background-image: linear-gradient(to right, var(--color-Felewin-blue-darkest), var(--color-Felewin-dark));
	color: white;
}
.background-Felewin-blue-dark-to-Felewin-blue-darkest {
	background-image: linear-gradient(to right, var(--color-Felewin-blue-dark), var(--color-Felewin-blue-darkest));
	color: white;
}
.background-Felewin-blue-darkest-to-Felewin-blue-dark {
	background-image: linear-gradient(to right, var(--color-Felewin-blue-darkest), var(--color-Felewin-blue-dark));
	color: white;
}
.background-indigo-purple-to-Moon-Motion {
	background-image: linear-gradient(to right, var(--color-indigo-purple), var(--color-Moon-Motion));
	color: white;
}
.background-Spotify-to-Spotify-darker {
	background-image: linear-gradient(to right, var(--color-Spotify), var(--color-Spotify-darker));
	color: white;
}
/* background animated rainbow gradient */
.background-animated-rainbow-gradient { 
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}
@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
/* text colors */
.color-Felewin {
	color: var(--color-Felewin);
}
.color-Felewin-saturated {
	color: var(--color-Felewin-saturated);
}
.color-Felewin-bright {
	color: var(--color-Felewin-bright);
}
.color-Felewin-lush {
	color: var(--color-Felewin-lush);
}
.color-light {
	color: var(--color-light);
}
.color-dark {
	color: var(--color-dark);
}
.color-One-Giant-Leap-light {
	color: var(--color-One-Giant-Leap-light);
}
.Felewin-post-title {
	font-size: 3em;
}
.color-Kaarii {
	color: var(--color-Kaarii);
}
.color-Kaarii-saturated {
	color: var(--color-Kaarii-saturated);
}
.color-Ravens-Nest {
	color: var(--color-Ravens-Nest);
}




/* ELEMENTS */


/* plain dark styling */
html {
	background-color: var(--color-dark);		/* dark background color */
}
body {
	color: white;
}

/* selection coloring */
::selection {
  background: var(--color-selection);
}
::-moz-selection {
  background: var(--color-selection);
}

/* links */
a {
	color: var(--color-link);
    text-decoration: none;

	/* transition duration */
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
a:hover {
	color: var(--color-link-hovered);
    text-decoration: none;
	cursor: pointer;
}
a:visited {
    text-decoration: none;
}
a:active {
    color: var(--color-selection);
    text-decoration: none;
}
a:link {
    text-decoration: none;
}

/* buttons */
button {
	cursor: pointer;
}
button:focus {
	outline: 0;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
.sharp-button {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.44rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em 2em;
    background-color: var(--color-sharp-button);
}
.sharp-button:hover {color:white;}




/* CLASSES */


/* background images */
.background-test-image {
	background-image: url("../images/Test.jpg");
	background-size: 100%;
}
.background-Blue-And-Purple-Cosmic-Sky {
	background-image: url("../images/Blue And Purple Cosmic Sky [Pexels].jpg");
	background-size: 100%;
}
.background-transparent {
	background-color: transparent;
}

/* fonts */
.font-Arial {
	font-family: "Arial", sans-serif;
}
.font-Roboto-Slab {
	font-family: "Roboto Slab", serif;
}
.font-Raleway {
	font-family: "Raleway", sans-serif;
}
.font-Montserrat {
	font-family: "Montserrat", sans-serif;
}
.font-Open-Sans {
	font-family: "Open Sans", sans-serif;
}
.font-Odibee-Sans {
	font-family: "Odibee Sans", sans-serif;
}
.font-Work-Sans {
	font-family: "Work Sans", sans-serif;
}

/* hueshifting */
.hueshifted-45 {
    filter: hue-rotate(45deg);
}
.hueshifted-90 {
    filter: hue-rotate(90deg);
}
.hueshifted-180 {
    filter: hue-rotate(180deg);
}
.hueshifted-270 {
    filter: hue-rotate(270deg);
}

/* glowing emoji */
.glowing-emoji {
  position: relative;
  display: inline-block;
  z-index: 0;
}
.glowing-emoji:before,
.glowing-emoji:after{
  content: attr(data-icon);
}
.glowing-emoji:before {
  position: absolute;
  z-index: -1;
  filter: blur(5px);
  transform: scale(1.3);
}

/* uninteractibility */
.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.undraggable {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}
.pointer-ignorant {
	pointer-events: none;
}

/* positioning */
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.center-absolutely {
	position: absolute;
	top: 50%;
	left: 50%;
}

/* sizing */
.fullwidth {
	width: 100%;
}
.fullheight {
	height: 100%;
}

/* margining */
.marginless {
	margin: 0 !important;
}
.no-top-margin {
	margin-top: 0 !important;
}
.no-bottom-margin {
	margin-bottom: 0 !important;
}
.no-left-margin {
	margin-left: 0 !important;
}
.no-right-margin {
	margin-right: 0 !important;
}
.no-vertical-margins {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.no-horizontal-margins {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.no-margins {
	margin: 0 !important;
}

/* padding */
.no-top-padding {
	padding-top: 0 !important;
}
.no-bottom-padding {
	padding-bottom: 0 !important;
}
.no-left-padding {
	padding-left: 0 !important;
}
.no-right-padding {
	padding-right: 0 !important;
}
.no-vertical-padding {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.no-horizontal-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-padding {
	padding: 0 !important;
}

/* floating */
.float-left {
	float: left;
}
.float-center {
	float: none;
}
.float-right {
	float: right;
}

/* alignment - baseline */
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.valign-center {
	display: flex;
	align-items: center;
}
/* alignment - responsivities */
@media only screen and (min-width: 1024px) and (max-width: 1499px) {		/* responsivity - within: small desktop */
	.align-left-at-small-desktop-dimensions {
		text-align: left;
	}
}
@media only screen and (max-width: 479px) {		/* responsivity - below: phones in landscape mode */
	.align-center-below-phone-landscape-dimensions {
		text-align: center;
	}
}
@media only screen and (max-width: 767px) {		/* responsivity - below: tablets in landscape mode */
	.align-center-below-tablet-landscape-dimensions {
		text-align: center;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1499px) {		/* responsivity - within: small desktop */
	.align-right-at-small-desktop-dimensions {
		text-align: right;
	}
}

/* visibility */
.visibility-hidden {
	visibility: hidden;
}
.visibility-visible {
	visibility: visible;
}

/* display baselines */
.display-inherit {
	display: inherit;
}
.display-none {
	display: none;
}
.display-inline {
	display: inline;
}
.display-block {
	display: block;
}
.display-inline-block {
	display: inline-block;
}
.display-flex {
	display: flex;
}
/* display responsivities - flex */
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	.display-flex-only-at-desktop-dimensions {
		display: flex;
	}
}
/* display responsivities - none */
@media only screen and (max-width: 767px) {		/* responsivity - below: tablets in landscape mode */
	.display-only-by-tablet-landscape-dimensions {
		display: none;
	}
}
@media only screen and (max-width: 800px) {		/* responsivity - at most: 800px */
	.display-only-above-800-pixels {
		display: none;
	}
}
@media only screen and (min-width: 801px) {		/* responsivity - at most: 800px */
	.display-only-below-801-pixels {
		display: none;
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	.display-only-at-nondesktop-dimensions {
		display: none;
	}
}
@media only screen and (min-width: 768px) {		/* responsivity - at least: tablets in landscape mode */
	.display-only-below-tablet-landscape-dimensions {
		display: none;
	}
}
@media only screen and (max-width: 767px) {		/* responsivity - below: tablets in landscape mode */
	.display-only-at-tablet-landscape-dimensions {
		display: none;
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	.display-only-at-tablet-landscape-dimensions {
		display: none;
	}
}
@media only screen and (max-width: 1023px) {		/* responsivity - below: desktop */
	.display-only-at-desktop-dimensions {
		display: none;
	}
}
@media only screen and (min-width: 1500px) {		/* responsivity - at least: smedium desktop */
	.display-only-below-smedium-desktop-dimensions {
		display: none;
	}
}
@media only screen and (max-width: 1499px) {		/* responsivity - below: smedium desktop */
	.display-only-by-smedium-desktop-dimensions {
		display: none;
	}
}
@media only screen and (min-width: 1600px) {		/* responsivity - at least: medium desktop */
	.display-only-below-medium-desktop-dimensions {
		display: none;
	}
}
@media only screen and (max-width: 1599px) {		/* responsivity - below: medium desktop */
	.display-only-by-medium-desktop-dimensions {
		display: none;
	}
}
@media only screen and (min-width: 1600px) and (max-width: 1919px) {		/* responsivity - from medium desktop until large desktop */
	.display-only-below-medium-desktop-dimensions-or-above-large-desktop-dimensions {
		display: none;
	}
}
@media only screen and (max-width: 767px) {		/* responsivity - below: tablets in landscape mode */
	.display-only-from-tablet-landscape-dimensions-until-large-desktop-dimensions {
		display: none;
	}
}
@media only screen and (min-width: 1920px) {		/* responsivity - at least: large desktop */
	.display-only-from-tablet-landscape-dimensions-until-large-desktop-dimensions {
		display: none;
	}
}
@media only screen and (max-width: 1599px) {		/* responsivity - below: medium desktop */
	.display-only-from-medium-desktop-dimensions-until-large-desktop-dimensions {
		display: none;
	}
}
@media only screen and (min-width: 1920px) {		/* responsivity - at least: large desktop */
	.display-only-from-medium-desktop-dimensions-until-large-desktop-dimensions {
		display: none;
	}
}

/* tabbing */
.halftabbed {
  padding-left: 37.5px;
}
@media (max-width: 1000px) {
  .halftabbed {
    padding-left: 18.75px;
  }
}
.tabbed {
  padding-left: 75px;
}
@media (max-width: 1000px) {
  .tabbed {
    padding-left: 37.5px;
  }
}
.doubletabbed {
  padding-left: 150px;
}
@media (max-width: 1000px) {
  .doubletabbed {
    padding-left: 75px;
  }
}

/* flipping */
.flipped-vertically {
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}
.flipped-horizontally {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/* links */
.link-white {
	color: white;
}
.link-white:hover {
	color: lightgray;
}
.link-Felewin {
	color: var(--color-link-Felewin);
}
.link-Felewin:hover {
	color: var(--color-link-Felewin-hovered);
}
.link-Felewin-lush {
	color: var(--color-link-Felewin-lush);
}
.link-Felewin-lush:hover {
	color: var(--color-link-Felewin-lush-hovered);
}
.link-Kaarii {
	color: var(--color-link-Kaarii);
}
.link-Kaarii:hover {
	color: var(--color-link-Kaarii-hovered);
}
.link-Ravens-Nest {
	color: var(--color-link-Ravens-Nest);
}
.link-Ravens-Nest:hover {
	color: var(--color-link-Ravens-Nest-hovered);
}
.link-Ravens-Nest:active {
    color: var(--color-link-Ravens-Nest-active);
}
.link-One-Giant-Leap {
	color: var(--color-link-One-Giant-Leap);
}
.link-One-Giant-Leap:hover {
	color: var(--color-link-One-Giant-Leap-hovered);
}
.link-Moon-Motion {
	color: var(--color-link-Moon-Motion);
}
.link-Moon-Motion:hover {
	color: var(--color-link-Moon-Motion-hovered);
}
.link-Itch {
	color: var(--color-link-Itch);
}
.link-Itch:hover {
	color: var(--color-link-Itch-hovered);
}
.link-Steam {
	color: var(--color-link-Steam);
}
.link-Steam:hover {
	color: var(--color-link-Steam-hovered);
}
.link-Git-Hub {
	color: var(--color-link-Git-Hub);
}
.link-Git-Hub:hover {
	color: var(--color-link-Git-Hub-hovered);
}
.link-Twitter {
	color: var(--color-link-Twitter);
}
.link-Twitter:hover {
	color: var(--color-link-Twitter-hovered);
}
.link-Paypal {
	color: var(--color-link-Paypal);
}
.link-Paypal:hover {
	color: var(--color-link-Paypal-hovered);
}
.link-Linkedin {
	color: var(--color-link-Linkedin);
}
.link-Linkedin:hover {
	color: var(--color-link-Linkedin-hovered);
}
.link-Deviantart {
	color: var(--color-link-Deviantart);
}
.link-Deviantart:hover {
	color: var(--color-link-Deviantart-hovered);
}
.link-Youtube {
	color: var(--color-link-Youtube);
}
.link-Youtube:hover {
	color: var(--color-link-Youtube-hovered);
}
.link-Patreon {
	color: var(--color-link-Patreon);
}
.link-Patreon:hover {
	color: var(--color-link-Patreon-hovered);
}
.link-Spotify {
	color: var(--color-link-Spotify);
}
.link-Spotify:hover {
	color: var(--color-link-Spotify-hovered);
}
/* not currently used; doesn't seem to work */
.link-Spotify-to-Felewin-lush {
	background: -webkit-linear-gradient(45deg, var(--color-link-Spotify), var(--color-link-Felewin-lush) 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.link-Spotify-to-Felewin-lush:hover {
	background: -webkit-linear-gradient(45deg, var(--color-link-Spotify-hovered), var(--color-link-Felewin-lush-hovered) 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/**/
.link-Trello-image > img {
	border-radius: 1em;
}

/* text formatting */
.weight-light {
	font-weight: lighter;
}
.weight-normal {
	font-weight: normal;
}
.weight-bold {
	font-weight: bold;
}
.weight-heavy {
	font-weight: 900;
}
.unitalicized {
	font-style: normal;
}
.italicized {
	font-style: italic;
}

/* text hovering shadowing */
.text-hovering-shadowing {
	-webkit-animation: hovering-shadowing 2s ease-in-out alternate infinite;
	-moz-animation: hovering-shadowing 2s ease-in-out alternate infinite;
	-ms-animation: hovering-shadowing 2s ease-in-out alternate infinite;
	-o-animation: hovering-shadowing 2s ease-in-out alternate infinite;
	animation: hovering-shadowing 2s ease-in-out alternate infinite;
}
@-webkit-keyframes hovering-shadowing {
  0% {  
    -webkit-transform: translateY(.1em);
    text-shadow: 0 0 .5em rgba(255, 255, 255, .4), 0 0 .2em rgba(0, 0, 0, .3), 0 .3em .2em rgba(0, 0, 0, .3);
  }
  100% {
    text-shadow: 0 0 .2em rgba(0, 0, 0, .3), 0 .5em .5em rgba(0, 0, 0, .3);
  }
}
@-moz-keyframes hovering-shadowing {
  0% {  
    -moz-transform: translateY(.1em);
    text-shadow: 0 0 .2em rgba(0, 0, 0, .3), 0 .3em .2em rgba(0, 0, 0, .3);
  }
  100% {
    text-shadow: 0 0 .2em rgba(0, 0, 0, .3), 0 .5em .5em rgba(0, 0, 0, .3);
  }
}
@-ms-keyframes hovering-shadowing {
  0% {  
    -ms-transform: translateY(.1em);
    text-shadow: 0 0 .2em rgba(0, 0, 0, .3), 0 .3em .2em rgba(0, 0, 0, .3);
  }
  100% {
    text-shadow:0 0 .2em rgba(0, 0, 0, .3), 0 .5em .5em rgba(0, 0, 0, .3);
  }
}
@-o-keyframes hovering-shadowing {
  0% {  
    -o-transform: translateY(.1em);
    text-shadow: 0 0 .2em rgba(0, 0, 0, .3), 0 .3em .2em rgba(0, 0, 0, .3);

  }
  100% {
    text-shadow: 0 0 .2em rgba(0, 0, 0, .3), 0 .5em .5em rgba(0, 0, 0, .3);
  }
}
@keyframes hovering-shadowing {
  0% {  
    transform: translateY(.1em);
    text-shadow: 0 0 .2em rgba(0, 0, 0, .3), 0 .3em .2em rgba(0, 0, 0, .3);
  }
  100% {
    text-shadow: 0 0 .2em rgba(0, 0, 0, .3), 0 .5em .5em rgba(0, 0, 0, .3);
  }
}

/* iframe responsivity (Gfycat requires a different padding... but not as simple as adding 44 for the white bar to the height) */
.iframe-container-1280-by-720 {
	position: relative;
    overflow: hidden;
    padding-top: 56.25%;	/* 720 / 1280 */
}
.iframe-container-1280-by-720 > iframe {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* navstrip links */
.navstrip-link {
	font-size: 1.6em;
}
@media only screen and (min-width: 450px) {		/* responsivity - at least: Chrome min width */
	.navstrip-link {
		font-size: 1.9em;
	}
}
@media only screen and (min-width: 600px) {		/* responsivity - at least: tablets in portrait mode */
	.navstrip-link {
		font-size: 2em;
	}
}

/* common content spacing */
.pad {
	padding: 2em;
}
.slip {
	padding: .5em 2em;
}
.article-padding {
	padding-left: 10%;
	padding-right: 10%;
}
@media only screen and (min-width: 768px) {		/* responsivity - at least: tablets in landscape mode */
	.article-padding {
		padding-left: 20%;
		padding-right: 20%;
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	.article-padding {
		padding-left: 20%;
		padding-right: 20%;
	}
}
@media only screen and (min-width: 1400px) {		/* responsivity - at least: {arbitrary} */
	.article-padding {
		padding-left: 30%;
		padding-right: 30%;
	}
}
.stripe {
	/* spacing */
	margin-top: 1.133vh;
	padding-top: 2.777vh;
	padding-bottom: 2.777vh;
	padding-left: 7vw;
	padding-right: 7vw;
}
@media only screen and (min-width: 600px) {		/* responsivity - at least: tablets in portrait mode */
	.stripe {
		padding-left: 14vw;
		padding-right: 14vw;
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	.stripe {
		padding-left: 19vw;
		padding-right: 19vw;
	}
}
.stripe-slightly-padded-horizontally {
	/* spacing */
	margin-top: 1.133vh;
	padding-top: 2.777vh;
	padding-bottom: 2.777vh;
	padding-left: .73vw;
	padding-right: .73vw;
}
@media only screen and (min-width: 600px) {		/* responsivity - at least: tablets in portrait mode */
	.stripe-slightly-padded-horizontally {
		padding-left: 1.47vw;
		padding-right: 1.47vw;
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	.stripe-slightly-padded-horizontally {
		padding-left: 2vw;
		padding-right: 2vw;
	}
}
.stripe-unpadded-horizontally {
	/* spacing */
	margin-top: 1.133vh;
	padding-top: 2.777vh;
	padding-bottom: 2.777vh;
}
.stripes-bottom-margin {
	margin-bottom: 1.133vh;
}

/* grids/cells */
.grid {
	/* testing */
	/*border: 2px solid yellow;*/

	/* gridding */
	display: grid;
	grid-template-columns: repeat(auto-fit, 7.5vw);
	justify-content: space-between;
	/*justify-items: center*/		/* useful at least for centering rows containing only one cell */
}
.cell {
	/* testing */
	/*border: 2px solid red;*/
}
.cell-flex-centered {
	/* centering */
	display: flex;
	align-items: center;
	justify-content: center;
}
/* Gfycat grids/cells */
.Gfycats-grid {
	/* grid columns */
	grid-template-columns: repeat(auto-fill, 492px);
	justify-items: center;
	justify-content: center;

	/* line height */
	line-height: 0;
}
.Gfycat-cell {
	/* transition duration */
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;

	/* size */
	max-width: 1000px;
}
.Gfycat-cell > iframe {
	/* border */
	border: 1px solid black;
	border-radius: .4em;
}
/* VSR map grids/cells */
.VSR-map-grid {
	/* grid columns */
	grid-template-columns: repeat(auto-fill, 330px);
	justify-items: center;
	justify-content: center;

	/* line height */
	line-height: 1.4;
}
.VSR-map-cell {
	/* transition duration */
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;

	/* size */
	max-width: 1000px;
}

/* Wow visible-before-animating bugfix */
.wow {
	visibility: hidden;
}

/* Moon Motion buttons */
.Moon-Motion-button {
	/* sizing */
	width: 100%;
	height: 100%;
    font-size: 2vw;
    padding: 7px 14px;
	overflow: hidden;
	padding: 0;

	/* shaping */
	border-radius: 4.2856vw;
	
	/* font */
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
    letter-spacing: .07em;

	/* coloring */
	color: white;
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, .6);
		
	/* transition duration */
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
@media only screen and (min-width: 768px) {		/* responsivity - at least: tablets in landscape mode */
	.Moon-Motion-button {
		/* sizing */
		font-size: 1.3vw;

		/* shaping */
		border-radius: 3.7142vw;
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	.Moon-Motion-button {
		/* sizing */
		font-size: .7vw;

		/* shaping */
		border-radius: 2vw;
	}
}
.Moon-Motion-button:hover {
	border: 2px solid rgba(255, 255, 255, 1);
	text-shadow: 0 0 50px var(--color-Moon-Motion-button-glow);
	box-shadow: 0 0 50px var(--color-Moon-Motion-button-glow);
}
.Moon-Motion-button:active {
	color: var(--color-Moon-Motion);
	background-color: white;
	text-shadow: none;
	box-shadow: 0 0 70px var(--color-Moon-Motion-button-glow);

	/* transition duration */
	-o-transition: 0s;
	-ms-transition: 0s;
	-moz-transition: 0s;
	-webkit-transition: 0s;
	transition: 0s;
}




/* IDENTIFIERS */


/* navstrip */
#navstrip {
	/* spacing */
	padding-left: 7vw;
	padding-right: 7vw;
}
@media only screen and (min-width: 600px) {		/* responsivity - at least: 600px */
	#navstrip {
		padding-left: 14vw;
		padding-right: 14vw;
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	#navstrip {
		padding-left: 19vw;
		padding-right: 19vw;
	}
}
#navstrip-links {
	margin-top: 1.8vh;
	vertical-align: middle;
}

/* titleage */
@media only screen and (max-width: 600px) {		/* responsivity - at most: 600px */
	#titleage {
		width: 100%;
	}
}

/* footer */
#footer {
	display: table;
	overflow: hidden;
	width: 100%;
}
#footer-text {
	display: table-cell;
	vertical-align: middle;
}
#footer-text > p {
	margin-bottom: 0;
}

/* Moon Motion cover */
#Moon-Motion-cover-buttons-grid-positioner {
	/* positioning */
	padding-top: 50vw;
	left: 10vw;
	right: 10vw;
	margin: 0 auto;
}
@media only screen and (min-width: 768px) {		/* responsivity - at least: tablets in landscape mode */
	#Moon-Motion-cover-buttons-grid-positioner {
		/* positioning */
		padding-top: 28vw;
		left: 24vw;
		right: 24vw;
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	#Moon-Motion-cover-buttons-grid-positioner {
		/* positioning */
		padding-top: 19.8vw;
		left: 36vw;
		right: 36vw;
	}
}
#Moon-Motion-buttons-grid {
	/* grid axes */
	grid-template-columns: repeat(auto-fit, 22.5vw);
	grid-template-rows: repeat(auto-fit, 6vw);
}
@media only screen and (min-width: 768px) {		/* responsivity - at least: tablets in landscape mode */
	#Moon-Motion-buttons-grid {
		/* grid axes */
		grid-template-columns: repeat(auto-fit, 15vw);
		grid-template-rows: repeat(auto-fit, 4vw);
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	#Moon-Motion-buttons-grid {
		/* grid axes */
		grid-template-columns: repeat(auto-fit, 7.5vw);
		grid-template-rows: repeat(auto-fit, 2vw);
	}
}

/* Lunity for Unity cover */
#Lunity-for-Unity-cover-buttons-grid-positioner {
	/* positioning */
	padding-top: 50vw;
	left: 37.9vw;
	margin: 0 auto;
}
@media only screen and (min-width: 768px) {		/* responsivity - at least: tablets in landscape mode */
	#Lunity-for-Unity-cover-buttons-grid-positioner {
		/* positioning */
		padding-top: 28vw;
		left: 42.6vw;
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	#Lunity-for-Unity-cover-buttons-grid-positioner {
		/* positioning */
		padding-top: 19.8vw;
		left: 45.9vw; /* 46.3 looks good for when button is going to read 'Asset Store' */
	}
}