/* Felewin baseline CSS */


/* COLORS */

:root {
    --color-Felewin: #5cb85c;
    --color-Felewin-saturated: #34af34;
    --color-light: white;
    --color-dark: #232325;
	--color-selection: #b0f3e6;
	--color-link: var(--color-Felewin);
	--color-link-hovered: #428bca;
	--color-link-Felewin: var(--color-Felewin);
	--color-link-Felewin-hovered: var(--color-Felewin-saturated);
}


/* ELEMENTS */

/* plain dark styling */
html {
	background-color: var(--color-dark);		/* dark background color */
}
body {
	color: white;
}

/* selection coloring */
::selection {
  background: var(--color-selection);
}
::-moz-selection {
  background: var(--color-selection);
}

/* links */
a {
	color: var(--color-link);
    text-decoration: none;

	/* transition duration */
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
a:hover {
	color: var(--color-link-hovered);
    text-decoration: none;
	cursor: pointer;
}
a:visited {
    text-decoration: none;
}
a:active {
    color: var(--color-selection);
    text-decoration: none;
}
a:link {
    text-decoration: none;
}

/* buttons */
button {
	cursor: pointer;
}
button:focus {
	outline: 0;
}


/* CLASSES */

/* Felewin links */
.link-Felewin {
	color: var(--color-link-Felewin);
}
.link-Felewin:hover {
	color: var(--color-link-Felewin-hovered);
}

/* uninteractibility */
.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.undraggable {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

/* positioning */
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}

/* sizing */
.fullwidth {
	width: 100%;
}

/* margining */
.no-top-margin {
	margin-top: 0 !important;
}
.no-bottom-margin {
	margin-bottom: 0 !important;
}
.no-left-margin {
	margin-left: 0 !important;
}
.no-right-margin {
	margin-right: 0 !important;
}
.no-vertical-margins {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.no-horizontal-margins {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.no-margins {
	margin: 0 !important;
}

/* padding */
.no-top-padding {
	padding-top: 0 !important;
}
.no-bottom-padding {
	padding-bottom: 0 !important;
}
.no-left-padding {
	padding-left: 0 !important;
}
.no-right-padding {
	padding-right: 0 !important;
}
.no-vertical-padding {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.no-horizontal-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-padding {
	padding: 0 !important;
}

/* alignment */
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}

/* tabbing */
.halftabbed {
  padding-left: 37.5px;
}
@media (max-width: 1000px) {
  .halftabbed {
    padding-left: 18.75px;
  }
}
.tabbed {
  padding-left: 75px;
}
@media (max-width: 1000px) {
  .tabbed {
    padding-left: 37.5px;
  }
}
.doubletabbed {
  padding-left: 150px;
}
@media (max-width: 1000px) {
  .doubletabbed {
    padding-left: 75px;
  }
}

/* flipping */
.flipped-vertically {
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}
.flipped-horizontally {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/* text formatting */
.weight-light {
	font-weight: lighter;
}
.weight-normal {
	font-weight: normal;
}
.weight-bold {
	font-weight: bold;
}
.weight-heavy {
	font-weight: 900;
}
.unitalicized {
	font-style: normal;
}
.italicized {
	font-style: italic;
}

/* text hovering shadowing */
.text-hovering-shadowing {
	-webkit-animation: hovering-shadowing 2s ease-in-out alternate infinite;
	-moz-animation: hovering-shadowing 2s ease-in-out alternate infinite;
	-ms-animation: hovering-shadowing 2s ease-in-out alternate infinite;
	-o-animation: hovering-shadowing 2s ease-in-out alternate infinite;
	animation: hovering-shadowing 2s ease-in-out alternate infinite;
}
@-webkit-keyframes hovering-shadowing {
  0% {  
    -webkit-transform: translateY(.1em);
    text-shadow: 0 0 .5em rgba(255, 255, 255, .4), 0 0 .2em rgba(0, 0, 0, .3), 0 .3em .2em rgba(0, 0, 0, .3);
  }
  100% {
    text-shadow: 0 0 .2em rgba(0, 0, 0, .3), 0 .5em .5em rgba(0, 0, 0, .3);
  }
}
@-moz-keyframes hovering-shadowing {
  0% {  
    -moz-transform: translateY(.1em);
    text-shadow: 0 0 .2em rgba(0, 0, 0, .3), 0 .3em .2em rgba(0, 0, 0, .3);
  }
  100% {
    text-shadow: 0 0 .2em rgba(0, 0, 0, .3), 0 .5em .5em rgba(0, 0, 0, .3);
  }
}
@-ms-keyframes hovering-shadowing {
  0% {  
    -ms-transform: translateY(.1em);
    text-shadow: 0 0 .2em rgba(0, 0, 0, .3), 0 .3em .2em rgba(0, 0, 0, .3);
  }
  100% {
    text-shadow:0 0 .2em rgba(0, 0, 0, .3), 0 .5em .5em rgba(0, 0, 0, .3);
  }
}
@-o-keyframes hovering-shadowing {
  0% {  
    -o-transform: translateY(.1em);
    text-shadow: 0 0 .2em rgba(0, 0, 0, .3), 0 .3em .2em rgba(0, 0, 0, .3);

  }
  100% {
    text-shadow: 0 0 .2em rgba(0, 0, 0, .3), 0 .5em .5em rgba(0, 0, 0, .3);
  }
}
@keyframes hovering-shadowing {
  0% {  
    transform: translateY(.1em);
    text-shadow: 0 0 .2em rgba(0, 0, 0, .3), 0 .3em .2em rgba(0, 0, 0, .3);
  }
  100% {
    text-shadow: 0 0 .2em rgba(0, 0, 0, .3), 0 .5em .5em rgba(0, 0, 0, .3);
  }
}

/* backgrounds */
.background-white {
	background-color: white;
	color: black;
}
.background-light {
	background-color: var(--color-light);
	color: white;
}
.background-dark {
	background-color: var(--color-dark);
	color: white;
}

/* blocks */
.block-padded {
	padding: 2em;
}

/* grids/cells */
.grid {
	/* testing */
	/*border: 2px solid yellow;*/

	/* gridding */
	display: grid;
	grid-template-columns: repeat(auto-fit, 7.5vw);
	justify-content: space-between;
	/*justify-items: center*/		/* useful at least for centering rows containing only one cell */
}
.cell {
	/* testing */
	/*border: 2px solid red;*/
}
.cell-flex-centered {
	/* centering */
	display: flex;
	align-items: center;
	justify-content: center;
}

/* responsivity */
.nonmobile-visible {
	display: none;
}
@media only screen and (min-width: 768px) {		/* responsivity - at least: tablets in landscape mode */
	.nonmobile-visible {
		display: inline;
	}
}
.nonmobile-hidden {
	display: inline;
}
@media only screen and (min-width: 768px) {		/* responsivity - at least: tablets in landscape mode */
	.nonmobile-hidden {
		display: none;
	}
}

/* Wow visible-before-animating bugfix */
.wow {
	visibility: hidden;
}