/* CLASSES */


/* logo */
.logo {
	/* size */
	width: 16vw;
	height: auto;

	/* padding */
	padding: 0;
	padding-top: 1.45vw;
	padding-left: 3vw;
}
.docs-logo {
	/* size */
	width: 20vw;
}
@media only screen and (min-width: 768px) {		/* responsivity - at least: tablets in landscape mode */
	.logo {
		/* size */
		width: 35.2vw;

		/* padding */
		padding-top: .95vw;
		padding-left: 2.4vw;
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	.logo {
		/* size */
		width: 25.2vw;

		/* padding */
		padding-top: .2vw;
		padding-left: 1.8vw;
	}
}

/* fonts */
.font-Open-Sans {
	font-family: "Open Sans", sans-serif;
}

/* muted text */
.muted-text {
	color: var(--color-Steam-text);
}

/* backgrounds */
.background-dark-lighter {
	background-color: var(--color-dark-lighter);
	color: var(--color-Steam-text);
}

/* braces */
.brace-small {
	padding-top: 1em;
	width: 10em;
}
.brace-large {
	padding-top: 1em;
	width: 14em;
}

/* block headers */
.block-padded > h2, .block-padded > a > h2 {
	letter-spacing: .04em;
	font-size: 2.5rem;
}
.block-padded > a > h2 {
	color: var(--color-link)
}

/* block "article" padding */
.block-article-padding {
	/* padding */
	padding-left: 10%;
	padding-right: 10%;
}
@media only screen and (min-width: 768px) {		/* responsivity - at least: tablets in landscape mode */
	.block-article-padding {
		/* padding */
		padding-left: 20%;
		padding-right: 20%;
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	.block-article-padding {
		/* padding */
		padding-left: 20%;
		padding-right: 20%;
	}
}
@media only screen and (min-width: 1400px) {		/* responsivity - at least: {arbitrary} */
	.block-article-padding {
		/* padding */
		padding-left: 30%;
		padding-right: 30%;
	}
}

/* block dividers */
.block-divider {
	/* padding */
	padding-top: 1em;

	/* margin */
	margin-left: 25%;
	margin-right: 25%;

	/* border */
	border-bottom: 2.5px solid var(--color-light);
    border-radius: 3px;
}

/* linked features */
.linked-features {
	margin-top: 1em;
}
.linked-features > a > h4 {
	margin-bottom: 1em;
}
.linked-feature-antibudging-placeholder {
	margin: 0;
	padding: 0;
}
.linked-features > a:hover > h4 {
	color: var(--color-link-hovered);

	/* transition duration */
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}

/* headered features */
.headered-feature {
	margin-top: 3em;
}
.headered-features > .headered-feature:first-of-type {
	margin-top: 0em;
}

/* header icons */
h4 > i {
	padding-right: .5em;
}

/* buttons grids */
.buttons-grid {
	/* grid axes */
	grid-template-columns: repeat(auto-fit, 22.5vw);
	grid-template-rows: repeat(auto-fit, 6vw);
}
@media only screen and (min-width: 768px) {		/* responsivity - at least: tablets in landscape mode */
	.buttons-grid {
		/* grid axes */
		grid-template-columns: repeat(auto-fit, 15vw);
		grid-template-rows: repeat(auto-fit, 4vw);
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	.buttons-grid {
		/* grid axes */
		grid-template-columns: repeat(auto-fit, 7.5vw);
		grid-template-rows: repeat(auto-fit, 2vw);
	}
}

/* media grids/cells */
.media-grid {
	/* grid columns */
	grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
	justify-items: center;
}
@media only screen and (min-width: 768px) {		/* responsivity - at least: tablets in landscape mode */
	.media-grid {
		/* grid columns */
		grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	.media-grid {
		/* grid columns */
		grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
	}
}
.media-cell {
	/* padding */
	padding: 3vw;
	padding-bottom: 2vw;

	/* transition duration */
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;

	/* size */
	max-width: 1000px;
}
.media-cell > video {
	border: 3px solid var(--color-light);
}
.media-cell > h4 {
	padding-top: .5em;
	text-align: center;
}	
.media-cell > a > video {
	border: 5px solid var(--color-light);
}
.media-cell > a > h4 {
	text-align: center;
	padding-top: .5em;
}
.media-cell > a > p {
	color: var(--color-light);
}
.media-cell:hover {
	color: var(--color-link-hovered);

	/* transition duration */
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;
}
.media-cell:hover > a > video {
	border: 5px solid var(--color-link-hovered);

	/* transition duration */
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;
}
.media-cell:hover > a > h4 {
	color: var(--color-link-hovered);

	/* transition duration */
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;
}
.cell:hover > a > p {
	color: var(--color-link-hovered);

	/* transition duration */
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;
}

/* feature link headers */
.media-cell > a > h4, .linked-features > a > h4 {
	text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: .08em;
	color: var(--color-light);
	text-shadow: none;
	font-weight: normal;
}

/* launchers grids / launcher cells */
.launchers-grid {
	/* grid columns */
	grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));

	/* space around */
	padding-top: 2em;
	margin: 0 0vw;
	padding-bottom: 2em;
}
@media only screen and (min-width: 768px) {		/* responsivity - at least: tablets in landscape mode */
	.launchers-grid {
		/* space around */
		margin: 0 14vw;
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	.launchers-grid {
		/* space around */
		margin: 0 27.5vw;
	}
}
.launcher-cell {
	text-align: center;
}
.launcher-cell > a > i {
	color: white;
	padding-bottom: .15em;
}
.launcher-cell > a > p {
	color: white;
}
.launcher-cell:hover > a > p {
	color: white;
}

/* Documentation */
.docs-scrollbar {
	overflow: scroll;
}
.docs-link-header {
	font-weight: 900;
}
a > .docs-link-header {
	color: var(--color-link);
}
a > .docs-link-header:hover {
	color: var(--color-link-hovered);

	/* transition duration */
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
.docs-margin-top {
	margin-top: 3em;
}
.derivation-image-link {
	/* margin */
	margin-top: .6em;
	margin-bottom: 1em;

	/* size */
	min-width: 340px;
	width: 20%;
	height: auto;

	/* bevel */
	border-radius: .5em;
}
.docs-screenshot {
	/* margin */
	margin-top: .3em;
	margin-bottom: 1em;

	/* size */
	max-width: 100%;

	/* border */
	border: 2.5px solid var(--color-light);
}