/* COLORS */

:root {
	/* general */
    --color-main: var(--color-Moon-Motion);
	--color-light: var(--color-Vive);
	--color-dark: var(--color-Steam);
	--color-dark-lighter: var(--color-Steam-lightened);

	/* icon */
	--color-icon-light: #53bdd3;
	--color-icon-dark: #1996cd;

	/* links */
    --color-link: var(--color-icon-light);
    --color-link-hovered: var(--color-icon-dark);
}