/* COLORS */

:root {
	/* cover */
	--color-cover-average: #0073ad;

	/* other brands */
	--color-Vive: #25a1c3;
	--color-Steam: #171a21;
	--color-Steam-lightened: #2b303d;
	--color-Steam-text: #b8b6b4;
	--color-Discord: #7289DA;
	--color-Git-Hub: #a54df8;

	/* general */
    --color-main: var(--color-cover-average);
	--color-light: var(--color-Vive);
	--color-dark: var(--color-Steam);
	--color-dark-lighter: var(--color-Steam-lightened);

	/* icon */
	--color-icon-light: #53bdd3;
	--color-icon-dark: #1996cd;

	/* links */
    --color-link: var(--color-icon-light);
    --color-link-hovered: var(--color-icon-dark);
}