/* IDENTIFIERS */


/* cover */
#cover-image-mobile {
	display: inline;
}
#cover-image-tablet {
	display: none;
}
#cover-image-desktop {
	display: none;
}
@media only screen and (min-width: 768px) {		/* responsivity - at least: tablets in landscape mode */
	#cover-image-mobile {
		display: none;
	}
	#cover-image-tablet {
		display: inline;
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	#cover-image-tablet {
		display: none;
	}
	#cover-image-desktop {
		display: inline;
	}
}
#cover-buttons-grid-positioner {
	/* positioning */
	padding-top: 50vw;
	left: 10vw;
	right: 10vw;
	margin: 0 auto;
}
@media only screen and (min-width: 768px) {		/* responsivity - at least: tablets in landscape mode */
	#cover-buttons-grid-positioner {
		/* positioning */
		padding-top: 28vw;
		left: 24vw;
		right: 24vw;
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	#cover-buttons-grid-positioner {
		/* positioning */
		padding-top: 19.8vw;
		left: 36vw;
		right: 36vw;
	}
}

/* Create Moving Experiences */
#Create-Moving-Experiences-media > .media-cell > a > h4 {
	color: var(--color-Steam-text);
	text-shadow: 0 1px 2px #000;
}

/* Platforms Support */
#platforms-support-brands-image {
	/* size */
	width: 82vw;
	height: auto;
}
@media only screen and (min-width: 768px) {		/* responsivity - at least: tablets in landscape mode */
	#platforms-support-brands-image {
		/* size */
		width: 90vw;
	}
}
@media only screen and (min-width: 1024px) {		/* responsivity - at least: desktop */
	#platforms-support-brands-image {
		/* size */
		width: 70vw;
	}
}
@media only screen and (min-width: 1200px) {		/* responsivity - at least: {arbitrary} */
	#platforms-support-brands-image {
		/* size */
		width: 50vw;
	}
}
@media only screen and (min-width: 1400px) {		/* responsivity - at least: {arbitrary} */
	#platforms-support-brands-image {
		/* size */
		width: 40vw;
	}
}
#platforms-support-Oculus-logo {
	/* size */
	width: 7vw;
	height: auto;

	/* margin */
	margin-bottom: 2em;
}

/* In Development */
#construction-divider {
	width: 50%;
}

/* footer */
#footer {
	display: table;
	overflow: hidden;
	width: 100%;
}
#footer-text {
	display: table-cell;
	vertical-align: middle;
}
#footer-text > p {
	margin-bottom: 0;
}