/* IDENTIFIERS */


/* Create Moving Experiences */
#Create-Moving-Experiences-media > .media-cell > a > h4 {
	color: var(--color-Steam-text);
	text-shadow: 0 1px 2px #000;
}

/* Platforms Support */
#Unity-compatibility-statement-padding {
	padding-left: 22.5%;
}

/* In Development */
#construction-divider {
	width: 50%;
}